body {
    color: fuchsia;
    font-family: Verdana, arial, geneva, arial black;
    font-weight: bold;
    line-height: 0;
}

div.bgimg {
    background-image: url("images/bruno-mars24.jpg")
}

.h3 {
    size: 18px;
    font-family: arial black;
    line-height: 0;
}

.h4 band name {
    size: 14px;
    line-height: 0;
    font-family: arial black;
}

.bandmp {
    color: black;
    font-size: 16px;
    font-weight: bold;
    line-height: 0;
    font-family: arial black;
    font-style: italic;
}

ul.para {
    list-style-type: circle;
    line-height: 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
}